<%= render :partial => "courses/header" %>
<h3>New announcement</h3>
<p><b>Please note!</b> Posting this announcement will email all students currently enrolled in your class!  Proofread or they'll never respect you again!</p>
<%= render 'form' %>
