<%= render :partial => "courses/header" %>
<h3><%= @announcement.subject %></h3>
<%= simple_format(@announcement.body) %>
<%= link_to "All announcements", course_announcements_path(@current_course) %>