<h1>New assignment</h1>
<%= form_for(@submission, :url => course_assignment_submissions_path(Course.find(params[:course_id]), Assignment.find(params[:assignment_id])), :html => {:multipart => true}) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
<% end %>
