<%= render :partial => "courses/header" %>

<h3>Enrolled students</h3>
<% if @students.any? %>
  <table style="padding:15px">
    <tr>
      <th>Email</th>
    </tr>
    <% @students.each do |student| %>
      <tr>
        <td><%= mail_to student.email %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div style="margin:20px 50px">No announcements have been posted yet.</div>
<% end %>
<%= link_to new_course_student_path(Course.find(params[:course_id])), :class => "green-button pcb" do %>
  <span>Add students to this course</span>
<% end %>