<h1>Your account</h1>
  
<dl>
  <dt>Name</dt>
  <dd><%= @user.name %></dd>
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
</dl>

<div>
<%= link_to edit_user_path(@user), :class => "grey-button pcb" do %>
  <span>Edit account details</span>
<% end %>
</div>