<h1>About this site</h1>
<p>
  This site is "courseware."  
  It is designed to allow professors communicate with and deliver teaching resources to their students as painlessly as possible.
  It is designed to be "no frills" so no useless junk gets in the way of this basic need.
  For this reason, while feature requests are welcome, they are carefully weighed against the "bloat" they might add.
</p>
<p>
  This site was made with Ruby on Rails.
  It is best viewed in Mozilla Firefox or Google Chrome.
  Javascript required.
</p>