<h1><%= @professor.name %></h1>
  
<dl>
  <dt>Email</dt>
  <dd><%= mail_to @professor.email %></dd>
  <dt>Teaching</dt>
  <dd><%= @professor.courses.select(&:active?).map(&:title).to_sentence %></dd>
</dl>
