<%= render :partial => "courses/header" %>
<h3>Submit a new version of this assignment</h3>
<%= form_for(@submission, :url => course_assignment_submission_path(Course.find(params[:course_id]), Assignment.find(params[:assignment_id]), @submission), :html => {:multipart => true}) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
<% end %>
