<h1 style="display:inline"><%= @course.title %></h1> (<tt style="display:inline"><%= @course.code %></tt>)

<div>
  <h3>Course files</h3>
  <% @course.uploads.each do |upload| %>
    <%= upload.name %><br/>
  <% end %>
  <div>No files have been posted yet.</div>
  <div><%= link_to "Upload file", new_course_upload_path(@course) %></div>
</div>

<div>
  <h3>Recent announcements</h3>
  <div>No announcements have been posted yet.</div>
</div>