<h1 style="display:inline"><%= @course.title %></h1> (<tt style="display:inline"><%= @course.code %></tt>)

<div>
  <h3>Course files</h3>
  <div>No files have been posted yet.</div>
</div>

<div>
  <h3>Recent announcements</h3>
  <div>No announcements have been posted yet.</div>
</div>